<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
		<style type="text/css">
	            #links{
	                color: white;
	            }
							#right{
								float:right;
								padding-left: 15px;
							}
							.container{
								margin-top: 55px;
								margin-left: 10px;
							}
	        </style>
	</head>
	<body>
		<nav class="navbar fixed-top navbar-dark bg-dark">
			<a class="navbar-brand" href="/" id="links">MazeRun</a>
			<a  class="nav-link" href="/login" id="links" id= "right">Login</a>
			{% if logged_in %}
				<a  class="nav-link" href="/logout" id="links" id= "right">Logout</a>
			{% endif %}
			<a  class="nav-link" href="/signup" id="links" id = "right">Register</a>
		</nav>
		<div class = "container">
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
