{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<style>
  h3{
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
  }
  #but{
    text-align: center;
  }

</style>

<body>
    <h3> &nbsp WikiMaze! </h3>
      <ul>
        <div id= "but" style= "align:center; ">
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href= "{{ url_for('none') }}" class="btn btn-dark btn-lg" role = "button">Maze Game</a>
      <!-- <a style = "color: #00008B; font-weight: 300;" href="{{ url_for('StartWiki') }}">Find the Bald Eagle in Wikipedia</a> -->
      </div>
      </ul>
</body>
{% endblock %}
