{% extends "base.html" %}

{% block content %}

  <div class="container-fluid" >

  <br> <br>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class = "container-fluid" style="background-color: #b3d9ef; border-radius:.75rem;">
          <h1> Login </h1>
          <form class="auth-form" action="/login" method="POST">
            {% set msgs = get_flashed_messages() %}
            {% for each in msgs %}
            <p class="error">{{each}}</p>
            {% endfor %}
            <input name = "username" type = "text" placeholder="Username" />
            <input name = "password" type = "password" placeholder="Password" />
            <button type = "submit" class="btn btn-primary" name = "logI" value = "Log In"> Login</button>
        </form>
        <br>
              Don't have an account?
              <a href="/signup">Signup</a>
              <br><br>
            </div>
          </div>
          <div class="col-md-3">
          </div>
      </div>



    <style>


        .auth-form input[type="text"], .auth-form input[type="password"] {
            width: 100%;
            padding: 8px;
            margin: 10px auto 10px auto;
            border-width: 0 0 1px 0
        }

        .auth-form input:focus {
            outline: none;
            border-color: #ccc
        }

        .auth-form input[type="submit"] {
            width: 100%;
            padding: 8px;
            margin: 10px auto 10px auto;
            background-color: #00008B;
            border: 1px solid #00008B;
            color: #fff;
            -webkit-transition: all .35s;
            -moz-transition: all .35s;
            transition: all .35s;
        }

        .auth-form input[type="submit"]:hover {
            background-color: #fff;
            color: #00008B;
        }

        .error {
            color: #00008B;
        }
    </style>

{% endblock %}
